<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208392592328-3hfr07641rfo20317fvq7ei2a5h05gqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208392592328-3hfr07641rfo20317fvq7ei2a5h05gqj</string>
	<key>API_KEY</key>
	<string>AIzaSyCYECINubhzdDSJMrdJmjT7YQMHWlY5UtM</string>
	<key>GCM_SENDER_ID</key>
	<string>208392592328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fss</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebasestorage-fedaf</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebasestorage-fedaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208392592328:ios:8d674cf8fd0ba707a13efd</string>
</dict>
</plist>